
{% extends "_base.html" %}
{% set page_name = "index" %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="main-content">
    <div class="row">
        <!-- [Invoices Awaiting Payment] start -->
        <div class="col-xxl-12 col-md-6">
            <div class="card stretch stretch-full">
                <div class="card-body">
                    <h2>index</h2>
                </div>
            </div>
        </div>
        <!-- [Invoices Awaiting Payment] end -->
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock %}